#title1 {
    display: flex;
    justify-content: center;
    font-family: "Bonheur Royale", cursive;
    font-size: 50px;
    color: pink;
  }
  #navUl {
    list-style-type: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: white;
  }
  #navLi {
    float: left;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    display: block;
    color: pink;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: whitesmoke;
  }